/* #212529 */
/* #2a2b2d */
/* #d4e157 */
/* #ffee58 */
/* #ffca28 */
/* #ff7043 */
/* #ef5350 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  /* background-color: #212529; */
  background-image: linear-gradient(to right, #809ea1, #809ea1);
  color: #fff;
  font-family: sans-serif;
  padding: 0 15px;
}
hr{
  margin-bottom: 10px;
}
/* Cloud base styles */
.clouds {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 200px;
  pointer-events: none; /* So they don't block clicks */
  z-index: 1; /* Position clouds behind main content */
}

.cloud {
  background: url('./cloud.png') no-repeat;
  background-size: contain;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 0;
  opacity: 0.5;
  animation: floatClouds linear infinite;
}

/* Individual cloud timing & position */
.cloud1 {
  left: -250px;
  top: 20px;
  animation-duration: 60s;
}

.cloud2 {
  left: -300px;
  top: 70px;
  animation-duration: 90s;
}

.cloud3 {
  left: -200px;
  top: 120px;
  animation-duration: 75s;
}

/* Cloud animation */
@keyframes floatClouds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120vw);
  }
}

.header {
  position: sticky;
  top: 0;
  /* background-color: #212529; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px 0;
  & #city_inp {
    background-color: #c6dee1;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    color: #fff;
    outline: none;
  }
  & #search_btn {
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    color: #000;
    cursor: pointer;
  }
  & #location_btn {
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    color: #ea6e4b;
    cursor: pointer;
  }
}
.card{
  background-color: #77cad6;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  & p{
    font-size: 14px;
    color: #000;
  }
  & h2{
    font-size: 32px;
    font-weight: 500;
  }
}
.wheather-data{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  & .weather-left{
    grid-column: span;
    & .current-weather{
      display: flex;
      justify-content: space-between;
      & h2{
        margin: 7px 0;
      }
      & p{
        color: #fff;
      }
    }
    & .card-footer{
      font-size: 14px;
      margin-bottom: 12px;
    }
    & .forecast-item{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      margin-bottom: 15px;
      & .icon-wrapper{
        display: flex;
        align-items: center;
      }
    }
  }
  & .weather-right{
    grid-column: span 3;
    & h2{
      margin-bottom: 10px;
    }
    & .highlights{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 15px;
      & .card:nth-of-type(1),
      & .card:nth-of-type(2){
        grid-column: span 2;
      }
      & .card-head{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        & .air-index{
          color: #000;
          padding: 5px 10px;
          border-radius: 15px;
          &.aqi-1{
            background-color: #d4e157;
          }
          &.aqi-2{
            background-color: #ffee58;
          }
          &.aqi-3{
            background-color: #ffca28;
          }
          &.aqi-4{
            background-color: #ff7043;
          }
          &.aqi-5{
            background-color: #ef5350;
          }
        }
      }
      & .air-indices{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        & p{
          text-align: center;
        }
      }
      & .sunrise-sunset{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        & .item{
          display: flex;
          align-items: center;
          gap: 10px;
          & h2{
            margin-top: 15px;
          }
        }
      }
      & .card-item{
        display: flex;
        justify-content: space-between;
      }
    }
    & .hourly-forecast{
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      column-gap: 10px;
      & .card{
        text-align: center;
      }
    }
  }
}
@media (max-width: 1100px) {
    .wheather-data{
      grid-template-columns: repeat(3, 1fr);
      & .weather-right{
        grid-column: span 2;
        & .highlights{
          grid-template-columns: repeat(3, 1fr);
          & .card:nth-of-type(1){
            grid-column: span 3;
          }
        }
        & .hourly-forecast{
          grid-template-columns: repeat(6, 1fr);
        }
      }
    }
}
@media (max-width: 1040px) {
    .wheather-data{
      grid-template-columns: repeat(2, 1fr);
      & .weather-right{
        grid-column: span 1;
        & .highlights{
          grid-template-columns: repeat(2, 1fr);
          & .card:nth-of-type(1){
            grid-column: span 2;
          }
        }
        & .hourly-forecast{
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
}
@media (max-width: 992px) {
    .wheather-data .weather-right .highlights{
      & .card{
        grid-column: span 2;
      }
      & .air-indices{
        grid-template-columns: repeat(3, 1fr);
      }
    }
}
@media(max-width: 850px) {
  .wheather-data{
    grid-template-columns: 1fr;
    & .weather-right .highlights{
      & .card:nth-of-type(3),
      & .card:nth-of-type(4),
      & .card:nth-of-type(5),
      & .card:nth-of-type(6),
      & .card:nth-of-type(7){
        grid-column: span 1;
      }
      & .air-indices{
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}
@media (max-width: 660px) {
  .header{
    flex-direction: column;
    & h2{
      margin-bottom: 8px;
    }
    & #city_inp, #search_btn, #location_btn{
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 580px) {
  .wheather-data .weather-right .highlights .air-indices{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 520px) {
  .wheather-data .weather-right .highlights{
    & .card:nth-of-type(3),
      & .card:nth-of-type(4),
      & .card:nth-of-type(5),
      & .card:nth-of-type(6),
      & .card:nth-of-type(7){
        grid-column: span 2;
    }
    & .air-indices{
        grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (max-width: 480px) {
  .wheather-data .weather-right .highlights .sunrise-sunset{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 450px) {
  .wheather-data .weather-right .hourly-forecast{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 380px) {
  .wheather-data .weather-right .highlights .air-indices{
    grid-template-columns: repeat(2, 1fr);
  }
}
